html {
  font-size: 18px;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.44rem;
  padding: 0 12%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  font-family: Verdana, sans-serif;
  font-size: .77rem;
}

.header-nav .logo {
  flex-grow: 1;
  color: white;
}

.header-nav li {
  display: inline;
  padding-right: 2.22rem;
}

.header-nav li a {
  color: white;
  font-weight: bold;
}

.banner {
  height: 800px;
  background: url("https://odis.homeaway.com/odis/destination/fd3aedb6-a6c8-4c86-a743-8c4f1264636f.hw1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner .container {
  color: #ffbbee;
  z-index : 2;
  text-align: center;
  font-size: 36px;
  font-family: Raleway;
  padding: 60px;
}

.banner .container .h2 {

}
